<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.basicaccountingforguangzhou"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
         android:hardwareAccelerated="true"
         >
        <activity
            android:name=".WelcomActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation|navigation"
            android:launchMode="standard"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".SubjectTestActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation|navigation"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".SubjectTestResult"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation|navigation"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
        </activity>
       
    </application>

</manifest>